{% extends "layout.html" %}

{% block body %}

{{ error }}

<form class="form-horizontal" method="POST" action="{{ url_for('inventory_create') }}">
  <div class="form-group">
    <label for="name">{{ form.name.label }}</label>
    {{ form.name(class="form-control", autocomplete="off") }}
    <ul>
      {% for error in form.name.errors %}
      <li>{{ error }}</li>
      {% endfor %}
    </ul>
  </div>

  <button type="submit" class="btn btn-outline-dark">Create new inventory</button>
</form>

{% endblock %}