{% extends "layout_inventory.html" %}
{% block body %}
    <h3>Inventory: {{ inventory.name }}</h3>

    <p>Products: {{ products }}</p>
    <p>Products current Stock under safety stock: {{ products_negative_difference }}</p>
       

    <h2>Alarm monitor</h2>

    <p>Products where current stock is zero</p>
    <table class="table table-bordered">
        <tr>
            <th>Product Name</th>
            <th>Safety Stock </th>
            <th>Difference to Safety Stock</th>
        </tr>
        {% for product in products_current_stock_zero %}
        <tr>
            <td>{{ product.name }}</td>
            <td>{{ product.safety_stock }}</td>
            <td>{{ product.difference }}</td>            
        </tr>
        {% endfor %}
    </table>

    <p>Products where stock under  safety stock limit</p>
    <table class="table table-bordered">
        <tr>
            <th>Product Name</th>
            <th>Current Stock</th>
            <th>Difference to Safety Stock</th>
        </tr>
        {% for product in product_list %}
        <tr>
            <td>{{ product.name }}</td>
            <td>{{ product.current }}</td>
            <td>{{ product.difference }}</td>            
        </tr>
        {% endfor %}
    </table>

    {% for image in images %}
    <img src="{{ image }}"/>
    {% endfor %}
{% endblock %}