{% extends "layout.html" %}

{% block body %}

  <h2>Inventory Management</h2>
  
  <p>This is inventory management system, where users can manage their inventory. This system provides following functionality:</p>
  <lu>Creating user</lu>
  <lu>Signing in</lu>
  <lu>Creating an inventory</lu>
  <lu>Removin inventory</lu>
  <lu>Add products to inventory</lu>
  <lu>Add Orders to product: incoming and outgoing</lu>
  <lu>Adding safetystock limits for products</lu>
  <lu>Monitor for products, where current stock level is under safety stock</lu>
  <lu>Charts about individual product and summary pie chart</lu>
  <lu>System provides ability to contribute to other users inventories</lu>
{% endblock %}