{% extends "layout.html" %}

{% block body %}

  <h2>Inventory Management</h2>
  
  <p>This is inventory management system, where users can manage their inventory. This system provides following functionality:</p>
  <ul>Creating user</ul>
  <ul>Signing in</ul>
  <ul>Creating an inventory</ul>
  <ul>Removin inventory</ul>
  <ul>Add products to inventory</ul>
  <ul>Add Orders to product: incoming and outgoing</ul>
  <ul>Adding safetystock limits for products</ul>
  <ul>Monitor for products, where current stock level is under safety stock</ul>
  <ul>Charts about individual product and summary pie chart</ul>
  <ul>System provides ability to contribute to other users inventories</ul>
{% endblock %}