{% extends "layout.html" %}

{% block body %}

  <h2>Inventory Management</h2>
  
  <p>This is inventory management system, where users can manage their inventory. This system provides following functionality:</p>

  <li>Creating user</li>
  <li>Signing in</li>
  <li>Creating an inventory</li>
  <li>Removin inventory</li>
  <li>Add products to inventory</li>
  <li>Add Orders to product: incoming and outgoing</li>
  <li>Adding safetystock limits for products</li>
  <li>Monitor for products, where current stock level is under safety stock</li>
  <li>Charts about individual product and summary pie chart</li>
  <li>System provides ability to contribute to other users inventories</li>
{% endblock %}