{% extends "layout_inventory.html" %}



{% block body %}

  <table class="table table-bordered">
    <tr>
      <th>Name</th>
      <th>Segment</th>
      <th>Current Stock</th>
      <th>Safety Stock</th>
      <th>Difference</th>
      <th>Update Product</th>
      <th>Remove Product</th>
    </tr>
    <tr>
    {% for product in products %}
      <td>{{ product.name }}</td>
      <td>{{ product.segment }}</td>
      <td>{{ product.current_stock }}</td>
      <td>{{ product.safety_stock }}</td>
      <td>{{ product.difference }}</td>
      <td>
        <form method="GET" action="{{ url_for('product_update_form', inventory_id=inventory.id, product_id=product.id) }}">
          <input type="submit" value="Uppdate Product"/>
        </form>
      </td>
      <td>
        <form method="POST" action="{{ url_for('product_remove', product_id=product.id) }}">
          <input type="submit" value="Remove Product"/>
        </form>
      </td>
    </tr>
    {% endfor %}
  </table>
  <img src="{{ pie_chart }}">

{% endblock %}