{% extends "layout_inventory.html" %}

{% block body %}

{{ error }}

<form class="form-horizontal" method="POST" action="{{ url_for('product_update', inventory_id=inventory.id, product_id=product.id) }}">

    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="name">{{ form.name.label }}</label>
            {{ form.name(class="form-control", autocomplete="off") }}
        </div>

        <div class="form-group col-md-6">
            <label for="segment">{{ form.segment.label }}</label>
            {{ form.segment(class="form-control", autocomplete="off") }}
        </div>

        <div class="form-group col-md-6">
            <label for="Safety Stock">{{ form.safety_stock.label }}</label>
            {{ form.safety_stock(class="form-control", autocomplete="off") }}
        </div>
        
    </div>
    
    <button type="submit" class="btn btn-outline-dark">Update Product</button>
</form>
<img src="{{ chart }}"/>

{% endblock %}